/* Ocultar scrollbar en todos los navegadores */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* src/styles/global.css */
@import "tailwindcss";

@theme {
  --color-brand: #0ea5e9;

  --font-sans: Arial, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@layer base {
  html { font-family: var(--font-sans); }
}
